

<footer>
    <p align="center">
       <img class="img-responsive img-circle avatar" src="~/Content/Images/LogoAllTransparent.jpg" style="width:90px; height:90px; margin:1em;" alt="Vet Cycle Minnesota"/>
       © 2018 Copyright: Vet Cycle Minnesota
    </p>
</footer>

