@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>



<div class="panel-heading text-center">
    <h1>About</h1>
    <p align="center">
        <img src="~/Content/Images/Banner2.jpg" class="img-responsive" width="650" />
    </p>
</div>


<div class="row">
    <h2>How It All Began</h2>
    <p>
        Vet Cycle Minnesota was created by Jason Halverson in the Spring of 2017 as a cycling group for Veterans and their Supporters.  Jason was inspired by several national nonprofits that he had been a part of since 2015, and saw a need for Minnesota Veterans.  With the cycling community of Minnesota being as strong as it is, Vet Cycle Minnesota has been received rather well.  In the summer of 2018 became a program within Ardent Outdoors, a local non-profit focusing on getting veterans and inner city youth involved with the outdoors.
        <br />
        <br />
        The idea behind VCM is simple, we want to get Veterans and their supporters out in our communities doing something healthy and fun.  Since 2017 we have been working to conduct outreach to interested parties in our communities to enable us to continue to grow and reach more individuals.  We continue to build the most reliable ride schedule for members.

    </p>

</div>
<div class="row">
    <h2>Mission</h2>
    <p>
        We provide a healthy and therapeutic lifestyle to Minnesota's veterans and their families through: Cycling, Team Building, and Community Engagement.

    </p>
</div>
<div class="row">
    <h2>Vision</h2>
    <p>
        To empower veterans and strengthen their relationships with their supporters and their community.
    </p>

</div>
<div class="row">
    <h2>Purpose</h2>
    <p>- To raise awareness for the needs of our physically and emotionally injured veterans</p>
    <p>- To STOP Veteran Suicide by fostering health, wellness, and positive relationships in the community</p>
    <p>- To motivate our veterans to be active members of their community</p>
    <p>- To provide veterans and their supporters with the opportunity to participate in cycling and sporting events as a team</p>
    <p>- To participate in cycling and sporting events to raise funds for other charitable organizations</p>
    <p>- Provide the veteran not with entitlements but with paths to healthy challenges and new sense of accomplishment</p>
    <p>- Provide a peacful environment for veterans and their supporters to obtain and retain positive relationships with each other and their community</p>
</div>

<div class="row">
    <h2>Vet Cycle Minnesota Code</h2>
    <p>- We are guardians of the Veteran's health and wellness.  We will do all in our power to assure that Minnesota's service members and veterans are strong and fit.  If they are wounded, injured or ill mentally or physically, we will preserve their health; we will ease their pain and suffering; we will restore their bodies and minds; we will help them to rebuild their human effectiveness and spirit.</p>
    <p>- We will accept the responsibility of being health and wellness providers.  We will maintain the physical, mental, and moral strength to fulfill this high obligation and, in all ways, we will devote our highest abilities to learning, performing and promoting health and wellness.</p>
    <p>- We recognize that to succeed at this we also must possess the highest morals and virtue.  We will make loyalty our guide, courage our ally, honor and integrity our servants, and self-discipline our master, so that in all circumstances and under all conditions our efforts will be correct and successfull.</p>
    <p>- We will, by our own attitude and example, inspire compassion for humanity, loyalty to service members, veterans, our country, and our people.</p>
</div>