
@{
    ViewBag.Title = "WeeklyRides";
}
<h2>@ViewBag.Title.</h2>



<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="">
<div class="panel-heading text-center">
    <h1>Weekly Rides</h1>

</div>

<br />
<br />
<div class="container" align="center">

    <div class="row">
        <div class="col-md-10">
            <div class="text-left">
                <h3>Dakota Trail Ride</h3>
                <div class="thumbnail">
                    <img src="~/Content/Images/Dakota Regional Trail.jpg" class="img-rounded" width="750" height="750" />
                </div>
                <strong>
                    We ride the Dakota Trail every Friday from 6:00 p.m. to 8:00 p.m. during the riding season.  The ride starts in Wayzata at the beach and takes us West as far as our riders are comfortable, before we turn around and head back to the beach.  This is an all abilities ride where we only ride as fast as our slowest rider.
                </strong>
            </div>
            <br />

            <div class="text-left">
                <h3>Gateway Trail</h3>
                <div class="thumbnail">
                    <img src="~/Content/Images/Gateway Trail Ride.jpg" class="img-rounded" width="750" height="750" />
                </div>
                <strong>
                    Every third Saturday of the riding season we ride the Gateway Trail starting in St. Paul and heading out to Stillwater.  Times will vary depending on weather, but we like to start NLT 10:00 a.m..  This is an out and back all abilities ride.
                </strong>
            </div>
            <br />
            <br />
            <div class="text-left">
                <h3>Cannon Valley Trail</h3>
                <div class="thumbnail">
                    <img src="~/Content/Images/cvt.jpg" class="img-rounded" width="750" height="750" />
                </div>
                <strong>
                    By far one of the most beautiful rides is our ride on the Cannon Valley Trail!  Every third Saturday morning we start out in Cannon Falls, MN and head South towards Red Wing, MN.  Times will vary depending on weather, but we aim to leave the parking area NLT 10:00 a.m..
                </strong>
            </div>
            <br />
            <br />
            <div class="text-left">
                <h3>Minneapolis Chain of Lakes Ride</h3>
                <div class="thumbnail">
                    <img src="~/Content/Images/lake_of_isles_trail.jpg" class="img-rounded" width="750" height="750" />
                </div>
                <strong>
                    Every third Saturday we ride around the Minneapolis Chain of Lakes.  It is a fun slow paced ride with multiple rest stops as needed.  Riders are encouraged to have lunch together to conclude the ride.
                </strong>
            </div>
        </div>
    </div>

</div>


@section Scripts{
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}